body,
html {
  width: 100%;
}

.logo-style {
  width: 3em;
  margin-top: 0.25em;
  margin-left: 2em;
  margin-right: 2em;
}

.nav-menu {
  margin: auto;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bold;
}

.nav-menu-link {
  margin: auto;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

@media screen and (max-width: 995px) {
  .logo-style {
    width: 2em;
  }

  #responsive-navbar-nav {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
}
