body,
html {
  font-family:'Inria Serif' ;
  width: 100%;
}

.headerstyle {
  background-color: #fcfcfc;
  background-size: cover;
  }

span.d-block.navbar-brand {
  margin: 0;
  padding-left: 4em;
  padding-right: 4em;
}

.logo-style {
  background-color: #c9c9c9;
  border-radius: 50%;
  width: 6em;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

.nav-menu {
  min-width: 8rem;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1em;
  font-weight: bold;
}

.nav-menu-link {
  margin: auto;
  color: #111111;
  font-size: 1.1em;
  font-weight: bold;
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0); */
}

.logo-style-nav-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-menu-link {
    font-size: 1em;
  }
}

@media screen and (max-width: 999px) {
  .logo-style-nav-mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-style-nav-desktop {
    display: none;
  }

  #responsive-navbar-nav {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
  }
}
