body,
html {
  height: 100%;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 0.1em 0.1em 0.1em #000;
}

.hero-text {
  position: absolute;
  top: 57%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.head-shot {
  width: 15.5em;
}

.card-style {
  background: none;
  border: none;
}
@media screen and (max-width: 990px) {
  .card-style {
    display: block;
    background: none;
    border: none;
  }
  .head-shot {
    width: 13em;
    margin: auto;
  }
}
