html, body{
  font-family:'Inria Serif' ;
}

h1 {
  color: #1a1a1a;
  font-size: 3em;
}

.hero-text {
  position: absolute;
  top: 57%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #1a1a1a;
}

.head-shot {
  width: 22em;
}

.card-style {
  background: none;
  border: none;
}
@media screen and (max-width: 1080px) {
  .card-style {
    display: block;
    background: none;
    border: none;
  }
  .head-shot {
    width: 23em;
    margin: auto;
  }

  .herotext-style {
    font-size: 1em;
  }

  div.card-body {
    margin: 0;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .head-shot {
    width: 13em;
    margin: auto;
  }
}