body {
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
}

.layout-style {
  background: #000000;
  background: -webkit-linear-gradient(#353838, #383a3b);
  background: -moz-linear-gradient(#32695d, #376b94);
  background: linear-gradient(#243834, #1a5685);
}

/* div.card-body {
  padding: 0;
} */

/* a.nav-menu-link.nav-link {
  padding: 0;
} */
