html,
body {
  color: #1a1a1a;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fcfcfc;
  background-size: cover;
  overflow: auto;
  font-family: 'Grenze Gotisch', cursive;
}
