/* body {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%vw;
  font-size: 1em;
  background-image: url("../images/portfolio-bg.jpg");
  background-size: contain;
  background-position-y: center;
} */

h1 {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
}
