
html, body{
  font-family: 'Grenze Gotisch', cursive;
}
h1 {
  color: #1a1a1a;
  font-size: 1.25em;
}
.card {
  margin-top: 1em;
}

@media screen and (max-width: 995px) {
  .card-deck {
    display: grid;
    grid-template-columns: 1fr;
  }
}
