h1 {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.card {
  margin-top: 1em;
}

@media screen and (max-width: 995px) {
  .card-deck {
    display: grid;
    grid-template-columns: 1fr;
  }
}
